<%- model_class = @book.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Isbn) %>:</strong></dt>
  <dd><%= @book.isbn %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Title) %>:</strong></dt>
  <dd><%= @book.title %></dd>
  <dt><strong>Authors:</strong></dt>
  <dd><% @details.authors.each do |author| %>
	  <%= author["name"] %>
  	<%end %></dd>
 
  <dt><strong>Info URL:</strong></dt>
  <dd><%= @book_view.info_url %></dd>
  
  <dt><strong>Total Pages:</strong></dt>
  <dd><%= @details.pages %></dd>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              books_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.like")),
              edit_book_path(@book), :class => 'btn' %>
</div>
